In [39]:
import pandas as pd
import dataretrieval.nwis as nwis
from bokeh.plotting import figure, show

site = '09337500'

df = nwis.get_record(sites=site, service='dv', start='2021-05-01', end='2021-05-01',parameterCd='00060')

In [40]:
df = df[(df['00060_Mean']> -999999.0) & (df['00060_Mean']< 100)]
df['dt'] = df.index

In [41]:
df

,00060_Mean,00060_Mean_cd,site_no,dt
datetime,,,,
2021-05-01 00:00:00+00:00,0.96,A,09337500,2021-05-01 00:00:00+00:00

GlyphRenderer(id='1745', ...)

In [9]:
df

                           00060_Mean 00060_Mean_cd   site_no
datetime
1990-12-31 00:00:00+00:00        0.43          A, e  09337500
1991-01-01 00:00:00+00:00        0.38          A, e  09337500
1991-01-02 00:00:00+00:00        0.44          A, e  09337500
1991-01-03 00:00:00+00:00        0.50          A, e  09337500
1991-01-04 00:00:00+00:00        0.59          A, e  09337500
...                               ...           ...       ...
2022-01-12 00:00:00+00:00  -999999.00        P, Ice  09337500
2022-01-13 00:00:00+00:00  -999999.00        P, Ice  09337500
2022-01-14 00:00:00+00:00  -999999.00        P, Ice  09337500
2022-01-15 00:00:00+00:00  -999999.00        P, Ice  09337500
2022-01-16 00:00:00+00:00  -999999.00        P, Ice  09337500

[11339 rows x 3 columns]